 <div class="hero">
 <br />

  <div class="frosty col-xs-10 col-xs-offset-1">
    <h3>Diane Van Etten</h3>
    <h4>A bit about me...</h4>
  </div>
</div>

<marquee behavior="scroll" direction="left">
  <h1 style="font-family: 'Helvetica Neue', Helvetica; font-size: 22px;color: black;">
  <%= @quote.saying %>- <%= @quote.author %></h1>
</marquee>




