<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!--[if IE 7]>
<link href="css/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery.tipsy.js"></script>
<script type="text/javascript" src="js/cufon.yui.js"></script>
<script type="text/javascript" src="js/scrollTo.js"></script>
<script type="text/javascript" src="js/myriad.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript">
    Cufon.replace('h1,h2');
</script>
</head>
<body style="font-family: Arial; background-color: #e1e0db; background-image: url('bg.jpg'); background-repeat: repeat; font-size: 13px; line-height: 17px; color: #000">
<!-- Begin Wrapper -->
<div id="wrapper">
  <div class="wrapper-top"></div>
  <div class="wrapper-mid">
    <!-- Begin Paper -->
    <div id="paper">
      <div class="paper-top"></div>
      <div id="paper-mid">
        <div class="entry">
          <!-- Begin Image -->
          <img class="portrait" />
          <!-- End Image -->
          <!-- Begin Personal Information -->
          <div class="self">
            <h1 style="color: #1b4491; font-size: 42px; margin-bottom:3px; text-align: center", class="name">Diane Van Etten <br />
              <span style="color: #1b4491; font-size: 21px; display:block; margin-top:-5px;">Full-stack Developer</span></h1>
            <ul style="margin-left: 50px">
              <li class="ad">19136 Cottonwood Ct, Edmond, OK 73012</li>
              <li class="mail">diane@code12labs.com</li>
              <li class="tel">(424) 272-5334</li>
              <li class="web">www.code12labs.com</li>
            </ul>
          </div>
          <!-- End Personal Information -->
          
        </div>
        <!-- Begin 1st Row -->
        <div class="entry">
          <h2 style="width: 180px; height: 23px; text-align: right; float: left; padding: 0; margin: 0; clear: both; font-size: 20px; color: #1b4491; margin-bottom: -12px; margin-top: -12px; margin-bottom: 2px;">OBJECTIVE</h2>
          <p style="width: 490px; float: right;">Full-stack developer with a history of productivity and successful project outcomes seeking remote developer position. </p>     
        </div>
        <!-- End 1st Row -->
        <!-- Begin 2nd Row -->
        <div class="entry">
          <h2 style="width: 180px; height: 23px; text-align: right; float: left; padding: 0; margin: 0; clear: both; font-size: 20px; color: #1b4491; margin-bottom: -12px; margin-top: -12px; margin-bottom: 2px;">EDUCATION</h2>
          <div class="content">
            <h3 style="width: 180px; text-align: right; float: left; padding: 0; clear: both; font-size: 13px; color: #7b90b5">1992 - 1995</h3>
            <p style="width: 490px; margin-left: 40px; float: right;">University of Central Oklahoma, Edmond, OK <br />
              <em>BS - Mathematics</em></p>
          </div>
          <div class="content">
            <h3 style="width: 180px; text-align: right; float: left; padding: 0; clear: both; font-size: 13px; color: #7b90b5">2013 - 2014</h3>
            <p style="width: 490px; margin-left: 40px; float: right;">Northeastern University, Boston, MA <br />
              <em>MBA - Finance</em></p>
          </div>
        </div>
        <!-- End 2nd Row -->
        <!-- Begin 3rd Row -->
        <div class="entry">
          <h2 style="width: 280px; height: 23px; text-align: center; float: left; padding: 0; margin: 0; clear: both; font-size: 20px; color: #1b4491; margin-bottom: -12px; margin-top: -12px; margin-bottom: 2px;">TECHNICAL </h2>
          <div class="content">
            <h3 style="width: 180px; text-align: right; float: left; padding: 0; clear: both; font-size: 13px; color: #7b90b5">2007 - current </h3>
            <p style="width: 490px; margin-left: 40px; float: right;">Full-stack developer/Co-owner <br />
              <em>Code12Labs</em></p>
            <ul class="info">
              <li>Develop and manage e-commerce websites, mobile applications and related systems for small to mid-sized business clients.</li>
              <li>Use rails to develop responsive, mobile-ready applications for clients.</li>
              <li>Integrate projects using Docker or Nitrous.</li>
              <li>Use TravisCI </li>
              <li>Integrate projects using Docker or Nitrous.</li>
            </ul>
          </div>
          <div class="content">
            <h3 style="width: 180px; text-align: right; float: left; padding: 0; clear: both; font-size: 13px; color: #7b90b5">1997 - 2003</h3>
            <p style="width: 490px; margin-left: 40px; float: right; margin-bottom: -1px">Senior Analyst
            <p style="width: 490px; margin-left: 40px; float: right; margin-bottom: -1px">Retention Analyst
            <p style="width: 490px; margin-left: 40px; float: right; margin-bottom: -1px">Customer Care Coach
            <p style="width: 490px; margin-left: 40px; float: right; ">Customer Care Consultant
              <em>AOL</em></p>
            <ul class="info">
              <li>Used SAS and mySQL to develop and debug worldwide retention programs. </li>
              <li>Used SAS Data Mining principles to develop applicable segment marketing programs to target consumers. </li>
              <li>Product manager for Credit Reduction Program to increase member loyalty. </li>
            </ul>
          </div>
        </div>
        <div class="entry">
          <h2 style="width: 280px; height: 23px; text-align: center; float: left; padding: 0; margin: 0; clear: both; font-size: 20px; color: #1b4491; margin-top: -12px; margin-bottom: 2px;">PROFESSIONAL </h2>
          <div class="content">
            <h3 style="width: 180px; text-align: right; float: left; padding: 0; clear: both; font-size: 13px; color: #7b90b5">2010 - 2011 </h3>
            <p style="width: 490px; margin-left: 40px; float: right; ">Kitty Hawk Kites <br />
              <em>Human Resources Manager </em></p>
          </div>
          <div class="content">
            <h3 style="width: 180px; text-align: right; float: left; padding: 0; clear: both; font-size: 13px; color: #7b90b5">2009 - 2010 </h3>
            <p style="width: 490px; margin-left: 40px; float: right; ">Retentions and Operations Group <br />
              <em>Director, Operations </em></p>
          </div>
          <div class="content">
            <h3 style="width: 180px; text-align: right; float: left; padding: 0; clear: both; font-size: 13px; color: #7b90b5">2005 - 2009 </h3>
            <p style="width: 490px; margin-left: 40px; float: right;">Countrywide Mortgage <br />
              <em>Vice President, Commitment Desk Operations </em></p>
          </div>
          <div class="content">
            <h3 style="width: 180px; text-align: right; float: left; padding: 0; clear: both; font-size: 13px; color: #7b90b5">2004 - 2005 </h3>
            <p style="width: 490px; margin-left: 40px; float: right;">Young and Rubicam Brands <br />
              <em>Senior Market Analyst, Microsoft </em></p>
          </div>
          <div class="content">
            <h3 style="width: 180px; text-align: right; float: left; padding: 0; clear: both; font-size: 13px; color: #7b90b5">2003 - 2004 </h3>
            <p style="width: 490px; margin-left: 40px; float: right;">GE Wind Energy <br />
              <em>Principal Analyst </em></p>
          </div>
        </div>
        <div class="entry">
          <h2 style="width: 280px; height: 23px; text-align: center; float: left; padding: 0; margin: 0; clear: both; font-size: 20px; color: #1b4491; margin-bottom: -12px; margin-top: -12px; margin-bottom: 2px;">DEVELOPMENT </h2>
          <div class="content">
            <h3 style="width: 180px; text-align: right; float: left; padding: 0; clear: both; font-size: 13px; color: #7b90b5">2015 - 2016 </h3>
            <p style="width: 490px; margin-left: 40px; float: right; margin-top: -12px; ">Firehose Project <br />
              <em>Web Development, Algorithm and Data Structures Foundations </em></p>
              <ul class="info">
              <li>Build basic CRUD Rails apps (without scaffolding)</li>
              <li>Implement functional and tests using MiniTest and RSpec</li>
              <li>Implement linked lists with Ruby classes</li>
              <li>Utilize stacks and queues</li>
              <li>Built four fully functional Rails apps</li>
            </ul>
          </div>
        <div class="entry">
        
          <h2 style="width: 180px; height: 23px; text-align: right; float: left; padding: 0; margin: 0; clear: both; font-size: 22px; color: #1b4491; margin-bottom: 2px; margin-top: -12px;">SKILLS</h2>
          <div class="content">
            <h3 style="width: 195px; text-align: right; float: left; padding: 0; clear: both; font-size: 13px; color: #7b90b5">Programming and View Languages</h3>
            <ul class="skills">
              <li>Ruby</li>
              <li>Javascript</li>
              <li>Bash</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>ERB</li>
              <li>HAML</li>
              <li>SASS</li>
              <li>JSP</li>
            </ul>
            </div>
          <div class="content">
            <h3 style="width: 180px; text-align: right; float: left; padding: 0; clear: both; font-size: 13px; color: #7b90b5">Web Frameworks, Databases, Testing, Deployment</h3>
            <ul class="skills">
              <li>Ruby on Rails</li>
              <li>Sinatra</li>
              <li>PostgreSQL</li>
              <li>mySQL</li>
              <li>RSpec</li>
              <li>factory-girl</li>
              <li>Apache</li>
              <li>nginx</li>
              <li>Heroku</li>
              <li>AWS</li>
            </ul>
          </div>
          <div class="content">
            <h3 style="width: 180px; text-align: right; float: left; padding: 0; clear: both; font-size: 13px; color: #7b90b5">Additonal Skills</h3>
            <ul class="skills">
              <li>Git/Github</li>
              <li>Docker/Dockerhub</li>
              <li>Bitbucket</li>
              <li>TravisCI</li>
              <li>Slack</li>
              <li>Trello</li>
              <li>Nitrous/RubyMine</li>
            </ul>
          </div>
        </div>
        <!-- End 4th Row -->
         <!-- Begin 5th Row -->
        <div class="entry">
        </div>
        <!-- Begin 5th Row -->
      </div>
      <div class="clear"></div>
      <div class="paper-bottom"></div>
    </div>
    <!-- End Paper -->
  </div>
  <div class="wrapper-bottom"></div>
</div>
<div id="message"><a href="#top" id="top-link">Go to Top</a></div>
<!-- End Wrapper -->
</body>
</html>

