<div class="booyah-box">
  <div class="col-xs-6 skills">
    <h1>Programming Languages</h1>
      <h2>
        Ruby
        <br />
        Javascript
        <br />
        Bash
      </h2>
      <br /><br /><br />

    <h1>View Languages</h1>
      <h2>
        HTML
        <br />
        CSS
        <br />
        ERB
        <br />
        HAML
        <br />
        SASS
        <br />
        JSP
      </h2>

      <br /><br /><br />

    <h1>Web Frameworks</h1>
      <h2>
        Ruby on Rails
        <br />
        Sinatra
      </h2>

      <br /><br /><br />

    <h1>Databases</h1>
      <h2>
        mySQL
        <br />
        PostgreSQL
      </h2>

  </div>

  <div class="col-xs-6 skills">
    <h1>Testing</h1>
      <h2>
        RSpec
        <br />
        factory-girl
      </h2>
      <br /><br /><br />

    <h1>Deployment</h1>
      <h2>
        Apache
        <br />
        nginx
      </h2>
      <br /><br /><br />

    <h1>Operating Systems</h1>
      <h2>
        Mac
        <br />
        Unix
        <br />
        Windows
      </h2>
      <br /><br /><br />

    <h1>Additional Skills</h1>
      <h2>
        TravisCI
        <br />
        Trello
        <br />
        Docker/Dockerhub
        <br />
        Git/github
        <br />
        Bitbucket
        <br />
        Slack
        <br />
        Agile Practices
       </h2>
  </div>
</div>