<div class="col-xs-3">
  <h3>Programming Languages</h3>
    <h4>
      Ruby
      <br />
      Javascript
      <br />
      Bash
    </h4>

  <h3>View Languages</h3>
    <h4>
      HTML
      <br />
      CSS
      <br />
      ERB
      <br />
      HAML
      <br />
      SASS
      <br />
      JSP
    </h4>

  <h3>Web Frameworks</h3>
    <h4>
      Ruby on Rails
      <br />
      Sinatra
    </h4>

  <h3>Databases</h3>
    <h4>
      mySQL
      <br />
      PostgreSQL
    </h4>
</div>

<div class="col-xs-3">
  <h3>Testing</h3>
    <h4>
      RSpec
      <br />
      factory-girl
    </h4>

  <h3>Deployment</h3>
    <h4>
      Apache
      <br />
      nginx
    </h4>

  <h3>Operating Systems</h3>
    <h4>
      Mac
      <br />
      Unix
      <br />
      Windows
    </h4>

  <h3>Additional Skills</h3>
    <h4>
      TravisCI
      <br />
      Trello
      <br />
      Docker/Dockerhub
      <br />
      Git/github
      <br />
      Bitbucket
      <br />
      Slack
      <br />
      Agile Practices
    </h4>
</div>