<h1> Diane Van Etten</h1>
<h2><%= @aboutmepages.saying %></h2>

<p>
Web Developer
</p>

<p>
Ruby on Rails web developer. Owner and programmer at Code12labs.com. Dog trainer for Belgian Malinois. MBA-Northeastern University 2014. Lives for the beach!!!
</p>